/*头部*/
#header{
	width: 100%;
}
/*头部的上部分*/
#header .header_top{
	background-color: #f7f7f7;
}
#header .header_top .header_top1{
	width: 1200px;
	margin: 0 auto;
	font-size: 12px;
	height: 32px;
}
#header .header_top .header_top1 .login{
	line-height: 32px;
}
#header .header_top .header_top1 .login a{
	margin-left: 12px;
	color: #df0001;
}
#header .header_top .header_top1 .login a:hover{
	text-decoration: underline;
}
#header .header_top .header_top1 .fr{
	line-height: 32px;
}
#header .header_top .header_top1 .fr ul{
	width: 378px;
}
#header .header_top .header_top1 .fr ul li{
	float: left;
	margin-left: 5px;
}
#header .header_top .header_top1 .fr ul li a:hover{
	text-decoration: underline;
	color: #df0001;
}
#header .header_top .header_top1 .fr ul li .kd{
	color: #df0001;
}
/*头部的logo部分*/
#header .header_logo{
	width: 1200px;
	height: 78px;
	padding: 15px 0 25px;
	margin: 0 auto;
	position: relative;
}
#header .header_logo .logo a{
	display: block;
	width: 360px;
	height: 73px;
	background: url(../img/logo.jpg) no-repeat;
}
/*搜索框*/
#header .header_logo .searchbox{
	width: 372px;
	position: absolute;
	right: 222px;
}
#header .header_logo .searchbox .search{
	width: 372px;
    height: 34px;
    background: #fff url(../img/main.gif) no-repeat -596px -0px;
    padding-left: 32px;
	position: absolute;
	left: -40px;
	top: -58px;
}
#header .header_logo .searchbox .search input{
	height: 26px;
	line-height: 26px;
	border: 0;
	margin: 4px 0 0;
}
#header .header_logo .searchbox .search .btn_search{
	width: 71px;
	height: 26px;
	position: absolute;
	left: 330px;
	top: 0;
	font-size: 14px;
	color: #666;
}
#header .header_logo .searchbox ul{
	position: absolute;
	left: -38px;
	top: -14px;
}
#header .header_logo .searchbox ul li{
	float: left;
	font-size: 12px;
	margin-right: 8px;
}
#header .header_logo .searchbox ul li a:hover{
	color: red;
}
#header .header_logo .searchbox ul .hs{
	color: red;
}
/*购物车*/
#header .header_logo .hot_search{
	width: 131px;
    height: 42px;
    background: url(../img/main.gif) right -54px no-repeat;
    position: absolute;
    right: 0;
    top: 10px;
    margin-top: 12px;
}
#header .header_logo .hot_search span{
	color: #fff;
	position: absolute;
	left: 25px;
	top: -1px;
}
/*头部的导航*/
#header .header_nav{
	width: 1200px;
	height: 39px;
	margin: 0 auto;
}
#header .header_nav h2{
	float: left;
	width: 180px;
	height: 39px;
	padding-left: 24px;
	line-height: 39px;
	background-color: #333;
	color: #fff;
	position: relative;
}
#header .header_nav h2 img{
	position: absolute;
	right: 17px;
	top: 17px;
}
#header .header_nav .header_nav2{
	position: absolute;
}
#header .header_nav .header_nav2 ul{
	position: relative;
	left: 210px;
	float: left;
}
#header .header_nav .header_nav2 ul li{
	float: left;
	padding: 0 20px;
	height: 37px;
}
#header .header_nav .header_nav2 ul li a{
	font-size: 15px;
    line-height: 37px;
    text-align: center;
}
#header .header_nav .header_nav2 ul li a:hover{
	color: red;
}
#header .header_nav h3{
	float: right;
	height: 38px;
    width: 131px;
    background: url(../img/main.gif) right -131px no-repeat;
}
#header .header_nav h3 a{
	width: 100%;
	height: 38px;
    font-size: 15px;
    line-height: 38px;
    text-align: left;
    padding-left: 43px;
    display: block;
}
#header .header_nav h3 a:hover{
	color: red;
}
/*轮播图和选项卡*/
#main{
	width: 100%;
	height: 400px;
	position: relative;
	overflow: hidden;
}
#main .ul1{
	width: 78px;
	position: absolute;
	left: 50%;
	bottom: 14px;
	margin-left: -39px;
	z-index: 1;
}
#main .ul1 li{
	float: left;
	margin-left: 14px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: #fff;
}
#main .ul1 li.active{
	background-color: red;
}
#main .ul2 {
	overflow: hidden;
	position: absolute;
}
#main .ul2 li{
	float: left;
}
#main .ul2 li a img{
	width: 100%;
	height: 400px;
	vertical-align: top;
}
/*左右箭头*/
#main #pre{
	position: absolute;
	left: 208px;
	top: 148px;
	width: 23px;
	height: 37px;
	font-size: 40px;
	color: #fff;
	line-height: 37px;
	text-align: center;
}
#main #next{
	position: absolute;
	right: 234px;
	top: 148px;
	width: 23px;
	height: 37px;
	font-size: 40px;
	color: #fff;
	line-height: 37px;
	text-align: center;
}
/*箭头左面*/
#header .header_nav .header_nav1{
	width: 204px;
}
#header .header_nav .header_nav1 #pre-left{
	width: 202px;
	height: 402px;
	position: absolute;
	top: 187px;
	background: #fff;
	z-index: 100;
	border: 1px solid #ccc;
}
#header .header_nav .header_nav1 #pre-left .choose{
	width: 204px;
	margin: 0 auto;
}
#header .header_nav .header_nav1 #pre-left .choose .li{
	width: 187px;
	height: 19px;
	padding: 10px 0;
	font-size: 14px;
	padding-left: 10px;
	border-bottom: 1px solid #ccc;
	position: relative;
	margin-left: 2px;
}

#header .header_nav .header_nav1 #pre-left .choose .li i{
	display: inline-block;
	width: 3px;
	height: 3px;
	background: url(../img/dmg3-icon.gif) -9px -139px;
	position: relative;
	top: 6px;
	left: 10px;
	float: left;
}
#header .header_nav .header_nav1 #pre-left .choose .li b{
	display: inline-block;
	width: 5px;
	height: 9px;
	background: url(../img/dmg3-icon.gif) -171px -104px;
	position: relative;
	right: 25px;
	float: right;
}
#header .header_nav .header_nav1 #pre-left .choose .li .a{
	padding-left: 10px;
	position: relative;
	left: 10px;
	float: left;
}
#header .header_nav .header_nav1 #pre-left .choose .li:hover .a{
	color: red;
}
/*选项卡*/
#header .header_nav .header_nav1 #pre-left .choose .li .check{
	width: 584px;
	height: 400px;
	position: absolute;
	left: 195px;
	top: 0;
	display: none;
}
#header .header_nav .header_nav1 #pre-left .choose .li .check .left{
	position: absolute;
	left: 0;
	width: 584px;
	height: 402px;
	float: left;
	background-color: rgba(255,255,255,0.9); 
}
#header .header_nav .header_nav1 #pre-left .choose .li .check .left h5{
	padding: 5px 0 0 20px;
	line-height: 25px;
	margin: 0 10px;
	font-size: 12px;
	color: orange;
	border-bottom:1px solid #ccc; 
}
#header .header_nav .header_nav1 #pre-left .choose .li .check .left .left-bottom li{
	margin: 0 110px 0 0;
	float: left;
}
#header .header_nav .header_nav1 #pre-left .choose .li .check .left .left-bottom li a{
	width: 70px;
	display: block;
	font-size: 12px;
	padding: 10px 0;
	color: #b69f9f;
	text-align: right;
}
#header .header_nav .header_nav1 #pre-left .choose .li .check .left .left-bottom li a:hover{
	color: red;
}
#header .header_nav .header_nav1 #pre-left .choose .li .check .right{
	position: absolute;
	right: -186px;
	width: 189px;
	height: 402px;
	background-color: rgba(196,0,1,0.4);
	float: right;
	color: #fff;
}
#header .header_nav .header_nav1 #pre-left .choose .li .check .right h6{
	padding: 5px 0 0 5px;
	line-height: 25px;
	border-bottom:1px solid #ccc; 
	margin: 0 10px;
	font-size: 12px;
	color: blue;
}
#header .header_nav .header_nav1 #pre-left .choose .li .check .right .right-bottom li a{
	display: block;
	padding: 3.5px 0 3px 16px;
	line-height: 25px;
	width: 100px;
	font-size: 12px;
	color: #fff;
}
#header .header_nav .header_nav1 #pre-left .choose .li .check .right .right-bottom li a:hover{
	color: red;
}
#header .header_nav .header_nav1 #pre-left .choose .li1 .check{
	position: absolute;
	top: 0;
}
#header .header_nav .header_nav1 #pre-left .choose .li2 .check{
	top: -40px;
}
#header .header_nav .header_nav1 #pre-left .choose .li3 .check{
	top: -80px;
}
#header .header_nav .header_nav1 #pre-left .choose .li4 .check{
	top: -120px;
}
#header .header_nav .header_nav1 #pre-left .choose .li5 .check{
	top: -160px;
}
#header .header_nav .header_nav1 #pre-left .choose .li6 .check{
	top: -200px;
}
#header .header_nav .header_nav1 #pre-left .choose .li7 .check{
	top: -240px;
}
#header .header_nav .header_nav1 #pre-left .choose .li8 .check{
	top: -280px;
}
#header .header_nav .header_nav1 #pre-left .choose .li9 .check{
	top: -320px;
}
/*轮播图*/
#main{
	border-top: 2px solid red;
}
#main #middle{
	width: 1200px;
	height: 400px;
	margin: 0 auto;
	position: relative;
}
/*箭头右面*/
#main #weikua{
	width: 200px;
	height: 32px;
	line-height: 32px;
	padding-left: 30px;
	position: absolute;
	right:  0;
	top: 0;
	background: url(../img/ico.gif) no-repeat 10px -191px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #e7e7e7;
}
#main #weikua h4{
	width: 70px;
	font-size: 15px;
	font-weight: bold;
}
#main #weikua a{
	font-size: 12px;
	color: #666;
	position: absolute;
	right: 0;
	top: 0;
}
#main #weikua a:hover{
	text-decoration: underline;
	color: red;
}
#main #tell{
	width: 230px;
	position: absolute;
	right: 0;
	top: 32px;
	background-color: #fff;
	padding-bottom: 17px;
}
#main #tell ul{
	width: 200px;
	margin: 0 auto;
}
#main #tell ul li{
	margin-top: 17px;
	font-size: 12px;

}
#main #tell ul li span{
	display: inline-block;
	position: relative;
	top: -3px;
	width: 3px;
	height: 3px;
	background: url(../img/ico.gif) no-repeat -23px -253px;
}
#main #tell ul li a{
	color: #666;
	padding-left: 7px;
}
#main #tell ul li a:hover{
	color: red;
}
#main .tejia{
	width: 226px;
	position: absolute;
	right: 0;
	padding-right: 4px;
	bottom: 133px;
	background-color: #fff;
}
#main .tejia1{
	width: 226px;
	position: absolute;
	right: 0;
	padding-right: 4px;
	bottom: 0;
	background-color: #fff;
}
/*导购中心*/
#lead-center{
	width: 1200px;
	height: 278px;
	margin: 18px auto 0;
}
#lead-center .left{
	width: 955px;
	height: 278px;
	float: left;
	border: 1px solid #ccc;
}
#lead-center .left .nav{
	height: 31px;
}
#lead-center .left hr{
	margin: 0;
}
#lead-center .left .nav h3{
	float: left;
	line-height: 31px;
	width: 224px;
	color: #666;
	padding-left: 30px;
	background: url(../img/ico.gif) no-repeat 11px -191px;
}
#lead-center .left .nav a{
	float: right;
	font-size: 12px;
	line-height: 24px;
	margin-top: 7px;
	padding-right: 20px;
	background: url(../img/ico.gif) no-repeat 54px -171px;
}
#lead-center .left .nav a:hover{
	color: red;
}
#lead-center .left ul i{
	float: left;
	padding: 14px 0px 8px;
}
#lead-center .left ul{
	border-bottom: 1px dashed #ccc;
}
#lead-center .left ul li{
	padding: 12px 8px 10px;
	float: left;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
}#lead-center .left ul li a:hover{
	color: red;
}
#lead-center .left ul span{
	display: block;
    height: 23px;
    width: 68px;
    line-height: 23px;
    text-align: center;
    background: url(../img/main.gif) no-repeat 0 -262px;
    color: #333;
}
#lead-center .left ul span:hover{
	background: url(../img/main.gif) no-repeat 0 -290px;
	color: #fff;
}
#lead-center .right{
	width: 228px;
	height: 278px;
	float: right;
	border: 1px solid #ccc;
}
#lead-center .right h3{
	background: #f5f5f5;
    padding: 0 0 0 8px;
    height: 32px;
    line-height: 32px;
    font-weight: bold;
    color: #333;
    position: relative;
}
#lead-center .right ul li{
	line-height: 20px;
    margin-top: 3px;
    padding: 5px 5px 0;
    cursor: pointer;
}
#lead-center .right ul li em{
	display: block;
    width: 15px;
    height: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 14px;
    margin: 2px 5px 0 0;
    font-size: 14px;
    background: url(../img/ranking_bg.gif) no-repeat 0 0;
    float: left;
}
#lead-center .right ul li .picture img{
	width: 68px;
	height: 68px;
	float: left;
	display: none;
}
#lead-center .right ul li .text a{
	font-size: 12px;
	color: #666 !important;
}
#lead-center .right ul li .text span{
	font-size: 16px;
	color: red;
	display: none;
}
/*一楼*/
#first-floor{
	width: 1200px;
	margin: 18px auto 0;
	border: 1px solid #ccc;
}
#first-floor .top{
	height: 36px;
}
#first-floor .top h3{
	width: 170px;
	height: 22px;
	line-height: 22px;
	margin-top: 7px;
	margin-left: 7px;
	float: left;
	color: #666;
	background: url(../img/main.gif) no-repeat -8px -80px;
	padding-left: 45px;
}
#first-floor .top ul{
	margin-top: 7px;
	margin-right: 15px;
	float: right;
}
#first-floor .top ul li{
	float: left;
}
#first-floor .top ul li span{
	padding: 0 4px;
}
#first-floor .top ul li a{
	font-size: 12px;
}
#first-floor .top ul li a:hover{
	color: red;
}
#first-floor hr{
	margin: 0;
}
#first-floor .bottom{
	position: relative;
}
#first-floor .bottom .photo1{
	width: 444px;
	height: 259px;
	overflow: hidden;
	position: absolute;
	left: 354px;
	top: 5px;
	display: none;
}
#first-floor .bottom .photo1 img{
	position: absolute;
}
#first-floor .bottom .photo2{
	width: 444px;
	height: 259px;
	overflow: hidden;
	position: absolute;
	left: 354px;
	top: 215px;
	display: none;
}
#first-floor .bottom .photo2 img{
	position: absolute;
}
#first-floor .bottom .left{
	width: 338px;
	float: left;
	position: relative;
}
#first-floor .bottom .left .left1{
	position: relative;
}
#first-floor .bottom .left .left2{
	position: relative;
}
#first-floor .bottom .left .bar1{
	width: 222px;
	height: 129.5px;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#first-floor .bottom .left .bar2{
	width: 222px;
	height: 129.5px;
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
#first-floor .bottom .left img{
	width: 333px;
	height: 212px;
}
#first-floor .bottom .left div{
	padding: 5px 5px 0 5px;
}
#first-floor .bottom .right{
	width: 855px;
	float: left;
	margin-left: 7px;
}
#first-floor .bottom .right ul li{
	margin-top: 5px;
	margin-left: 9px;
	float: left;
	width: 160px;
	height: 210px;
	border-right: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}
#first-floor .bottom .right ul .x{
	border-right: none;
}
#first-floor .bottom .right ul .y{
	border-left: 1px dashed #ccc;
}
#first-floor .bottom .right ul li img{
	width: 130px;
	height: 130px;
	margin-left: 12px;
}
#first-floor .bottom .right ul li a{
	display: block;
	font-size: 12px;
	height: 43px;
    line-height: 20px;
    padding-top: 5px;
    text-align: center;
}
#first-floor .bottom .right ul li a:hover{
	color: red;
}
#first-floor .bottom .right ul li p{
	font-size: 12px;
	text-align: center;
	color: #666;
}
#first-floor .bottom .right ul li p i{
	font-size: 16px;
	color: red;
}
#first-floor .bottom .right ul li p b{
	font-size: 10px;
	text-decoration: line-through;
}
/*二楼 三楼 四楼 五楼*/
#second-floor,#third-floor,#fourth-floor,#fifth-floor{
	width: 1200px;
	margin: 18px auto 0;
	border: 1px solid #ccc;
}
#second-floor .top,#third-floor .top,#fourth-floor .top,#fifth-floor .top{
	height: 36px;
}
#second-floor .top h3,#third-floor .top h3,#fourth-floor .top h3,#fifth-floor .top h3{
	width: 170px;
	height: 22px;
	line-height: 22px;
	margin-top: 7px;
	margin-left: 7px;
	float: left;
	color: #666;
	background: url(../img/main.gif) no-repeat -8px -116px;
	padding-left: 45px;
}
#second-floor .top ul,#third-floor .top ul,#fourth-floor .top ul,#fifth-floor .top ul{
	margin-top: 7px;
	margin-right: 15px;
	float: right;
}
#second-floor .top ul li,#third-floor .top ul li,#fourth-floor .top ul li,#fifth-floor .top ul li{
	float: left;
}
#second-floor .top ul li span,#third-floor .top ul li span,#fourth-floor .top ul li span,#fifth-floor .top ul li span{
	padding: 0 4px;
}
#second-floor .top ul li a,#third-floor .top ul li a,#fourth-floor .top ul li a,#fifth-floor .top ul li a{
	font-size: 12px;
	color: #333;
}
#second-floor .top ul li a:hover,#third-floor .top ul li a:hover,#fourth-floor .top ul li a:hover,#fifth-floor .top ul li a:hover{
	color: red;
}
#second-floor hr,#third-floor hr,#fourth-floor hr,#fifth-floor hr{
	margin: 0;
}
#second-floor .bottom ul li,#third-floor .bottom ul li,#fourth-floor .bottom ul li,#fifth-floor .bottom ul li{
	width: 189px;
	height: 260px;
	padding: 6px 5px 2px 5px;
	float: left;
	border-right: 1px dashed #ccc;
	border-bottom: 1px dashed #ccc;
}
#second-floor .bottom ul li img,#third-floor .bottom ul li img,#fourth-floor .bottom ul li img,#fifth-floor .bottom ul li img{
	width: 180px;
	height: 180px;
	margin-left: 5px;
}
#second-floor .bottom ul li a,#third-floor .bottom ul li a,#fourth-floor .bottom ul li a,#fifth-floor .bottom ul li a{
	display: block;
	font-size: 12px;
	height: 43px;
    line-height: 20px;
    padding-top: 5px;
    text-align: center;
}
#second-floor .bottom ul li a:hover,#third-floor .bottom ul li a:hover,#fourth-floor .bottom ul li a:hover,#fifth-floor .bottom ul li a:hover{
	color: red;
}
#second-floor .bottom ul li p,#third-floor .bottom ul li p,#fourth-floor .bottom ul li p,#fifth-floor .bottom ul li p{
	font-size: 12px;
	text-align: center;
	color: #666;
}
#second-floor .bottom ul li p i,#third-floor .bottom ul li p i,#fourth-floor .bottom ul li p i,#fifth-floor .bottom ul li p i{
	font-size: 16px;
	color: red;
}
#second-floor .bottom ul li p b,#third-floor .bottom ul li p b,#fourth-floor .bottom ul li p b,#fifth-floor .bottom ul li p b{
	font-size: 10px;
	text-decoration: line-through;
}
#third-floor .top h3{
	background: url(../img/main.gif) no-repeat -8px -152px;
}
#fourth-floor .top h3{
	background: url(../img/main.gif) no-repeat -8px -188px;
}
#fifth-floor .top h3{
	background: url(../img/main.gif) no-repeat -8px -222px;
}
/*扩展知识*/
#extend{
	width: 1200px;
	margin: 18px auto 0;
}
/*左边*/
#extend .left{
	width: 353px;
	float: left;
	border: 1px solid #ccc;
}
#extend .left .top{
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	background: #f5f5f5;
}
#extend .left .top h3{
	float: left;
	color: #111;
	background: url(../img/ico.gif) no-repeat 10px -191px;
	padding-left: 30px;
}
#extend .left .top a{
	float: right;
	font-size: 12px;
	color: #666;
	margin-right: 15px;
}
#extend .left .top a:hover{
	color: red;
}
#extend .left .bottom{
	padding: 8px 14px;
}
#extend .left .bottom ul li{
	background: url(../img/ico.gif) no-repeat -22px -241px;
	padding: 4px 0;
	line-height: 20px;
	font-size: 12px;
	overflow: hidden;
}
#extend .left .bottom ul li a{
	color: #666;
	padding-left: 10px;
	float: left;
}
#extend .left .bottom ul li a:hover{
	color: red;
}
#extend .left .bottom ul li span{
	float: right;
	color: #666;
}
/*中间*/
#extend .center{
	width: 333px;
	float: left;
	margin-left: 10px;
	border: 1px solid #ccc;
}
#extend .center .top{
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	background: #f5f5f5;
}
#extend .center .top h3{
	float: left;
	color: #111;
	background: url(../img/ico.gif) no-repeat 10px -191px;
	padding-left: 30px;
}
#extend .center .top a{
	float: right;
	font-size: 12px;
	color: #666;
	margin-right: 15px;
}
#extend .center .top a:hover{
	color: red;
}
#extend .center .bottom{
	padding: 8px 14px;
}
#extend .center .bottom ul li{
	background: url(../img/ico.gif) no-repeat -22px -241px;
	padding: 4px 0;
	line-height: 20px;
	font-size: 12px;
	overflow: hidden;
}
#extend .center .bottom ul li a{
	color: #666;
	padding-left: 10px;
	float: left;
}
#extend .center .bottom ul li a:hover{
	color: red;
}
#extend .center .bottom ul li span{
	float: right;
	color: #666;
}
/*右边*/
#extend .right{
	width: 493px;
	float: left;
	border: 1px solid #ccc;
	margin-left: 5px;
}
#extend .right .top{
	height: 32px;
	line-height: 32px;
	border-bottom: 1px solid #ccc;
	background: #f5f5f5;
}
#extend .right .top h3{
	float: left;
	color: #111;
	background: url(../img/ico.gif) no-repeat 10px -191px;
	padding-left: 30px;
}
#extend .right .top a{
	float: right;
	font-size: 12px;
	color: #666;
	margin-right: 15px;
}
#extend .right .top a:hover{
	color: red;
}
#extend .right .bottom{
	padding: 8px 14px;
}
#extend .right img{
	vertical-align: top;
	margin-left: 4px;
}
#extend .right .bottom ul li{
	background: url(../img/ico.gif) no-repeat -22px -241px;
	padding: 3px 0;
	line-height: 20px;
	font-size: 12px;
	overflow: hidden;
}
#extend .right .bottom ul li a{
	color: #666;
	padding-left: 10px;
	float: left;
}
#extend .right .bottom ul li a:hover{
	color: red;
}
#extend .right .bottom ul li span{
	float: right;
	color: #666;
}
/*友情连接*/
#friend-link{
	width: 1200px;
	margin: 18px auto 0;
	height: 33px;
	line-height: 33px;
	color: #666;
	border: 1px solid #ccc;
	overflow: hidden;
}
#friend-link ul{
	float: left;
}
#friend-link ul h3{
	float: left;
	margin-left: 10px;
	font-size: 12px;
}
#friend-link ul span{
	float: left;
	font-size: 12px;
	margin-left: 10px;
}
#friend-link ul li{
	float: left;
	margin-left: 16px;
}
#friend-link ul li a{
	font-size: 12px;
	color: #666;
}
#friend-link ul li a:hover{
	color: red;
}
/*公众号*/
#last{
	width: 100%;
	padding-bottom: 15px;
	margin-top: 10px;
	background-color: #eee;
}
#last .last-nav{
	width: 1200px;
	margin: 0 auto;
}
#last .last-nav dl{
	float: left;
	width: 151px;
	margin: 13px 24px;
	border-right: 1px dashed #ccc;
}
#last .last-nav dl dt{
	font-size: 14px;
	font-weight: bold;
}
#last .last-nav dl dd{
	font-size: 12px;
	margin-top: 12px;
	color: #666;
}
#last .last-nav dl dd a:hover{
	color: red;
}
#last .last-nav dl img{
	margin-top: 5px;
}
/*底部*/
#end{
	width: 100%;
	background-color: #333;
}
#end .end1{
	width: 900px;
    margin: 0 auto;
    border-bottom: 1px solid #fff;
    color: #fff
}
#end .end1 .end2{
	margin: 0 auto;
	width: 600px;
}
#end .end1 .end2 a{
	color: #fff;
	font-size: 14px;
	padding: 13px 0 8px;
	display: inline-block;
	margin-left: 14px;
}
#end .end1 .end2 a:hover{
	color: #ccc;
}
#end p{
	width: 628px;
	margin: 0 auto;
	color: #fff;
	font-size: 14px;
	padding: 6px 0 10px;
}
#fixed-top a{
	cursor: pointer;
    position: fixed;
    z-index: 10;
    bottom: 5%;
    display: none;
    left: 1378px;
    height: 50px;
    width: 50px;
    background: #666 url(../img/backtop.png) no-repeat;
    overflow: hidden;
    text-indent: -999em;
}


